.product-item {
    text-align: center;
    background-color:darkgrey;
    border-radius: 2%;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 25%;
}

.product-item > * {
    width: 100%;
}

img {
    display: block;
    
}

.quantity {
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
}

button {
    border: none;
    width: 25%;
    height: 15%x;
    border-radius: 5%;
}

.quantity-and-price {
    border: solid black 2px;
    border-radius: 3%;
    margin-top: 5%;
    padding: 5%;
    background-color: lightblue;
}